header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
}

table, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #c2e3ff;
}

th {
    background-color: #6dade1;
}

th, td {
    text-align: center;
    padding: 10px;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}