header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    width: 900px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    width: 902px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    text-align: center;
    padding: 5px 20px;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    padding-top: 30px;
    padding-bottom: 30px;
}

section.table, section.edit {
    width: 850px;
    margin: auto;
}

section.view {
    width: 750px;
    margin: auto auto 20px;
}

hr.header {
    width: 938px;
    margin-top: 1px;
}

hr.view {
    width: 750px;
}

hr.edit {
    width: 850px;
}

h2, h3 {
    margin: 25px 0 12px;
}

h3.edit {
    margin-left: 8px;
}

h4.view {
    margin: 22px 0 12px;
}

div.view-section {
    white-space: pre-line;
}

table {
    margin: 20px auto;
}

table, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #c2e3ff;
}

th {
    background-color: #6dade1;
}

th, td {
    text-underline-color: black;
    text-align: center;
    padding: 12px 20px;
}

form {
    margin-top: 25px;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding-left: 11px;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

textarea {
    resize: none;
}

/*li {*/
/*    margin: 150px 0;*/
/*}*/

a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 1px solid black;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"]:not(table a) {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href*="stackoverflow"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href*="linkedin"] {
    padding-left: 20px !important;
    background: url(../img/lin.png) no-repeat center left;
}

a[href*="github"] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}