section {
    width: 760px;
    margin: auto auto 20px;
}

hr {
    width: 750px;
}

h3 {
    margin-top: 27px;
}

div.list-section {
    white-space: pre-line;
}

div.company-title {
    margin-left: 233px;
    margin-top: 20px;
    padding: 5px;
}

dl {
    margin-top: 10px;
}

dt {
    display: inline-block;
    width: 200px;
    padding: 5px;
}

dd {
    display: inline-block;
    width: 515px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    vertical-align: top;
}

dd.description {
    margin-left: 235px;
    white-space: pre-line;
}